{% extends "base.html" %}


{% block content %}
<div class="float-container">

    <div class="search-filter" id="float-child">
        
        <form method="get">
            <div class="flex-containter">

                <div>
                    <div class="click-filter">
                        <p>Vehicle Filter</p>
                        <p>{{myFilter.form.vehicle_id}}</p>
                    </div>
                </div>
                
                <div>
                    <div class="click-filter">
                        <p>Drivetrace Filter</p>
                        <p>{{myFilter.form.drivetrace}}</p>
                    </div>
                </div>

                <div>
                    <div class="click-filter">
                        <p>Cell</p>
                        <p>{{myFilter.form.cell}}</p>
                    </div>
                </div>

            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>

            <div>
                <!-- <p>IWR Range Filter</p> -->
                <p>IWR Range Filter</p>
                <p>{{myFilter.form.iwr}}</p>
            </div>
            <hr>
            <div>
                <p>Total C0 Range Filter</p>
                <p>{{myFilter.form.total_co}}</p>
            </div>
            <hr>
            <div>
                <p>Total C02 Range Filter</p>
                <p>{{myFilter.form.total_co2}}</p>
            </div>
            <!-- <div>
                <p>Test DateTime</p>
                <p>{{myFilter.form.test_datetime}}</p>
            </div> -->
            <hr>
            <button type="submit">Search</button>
        </form>
        
    </div>

    <div class="table-div">
        
        <table class="content-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Test Name</th>
                    <th>Test DateTime</th>
                    <th>Engineer</th>
                    <th>Driver</th>
                    <th>Cell</th>
                    <th>Vehicle</th>
                    <th>Drivetrace</th>
                    <th>IWR</th>
                    <th>RMMSE</th>
                    <th>Total C0</th>
                    <th>Total C02</th>
                </tr>
            </thead>
            <tbody id='table-body'>
                {% for result in test_result %}
                <tr>
                    <td> {{result.id}}</td>
                    <td> {{result.test_name}}</td>
                    <td> {{result.test_datetime}}</td>
                    <td> {{result.engineer}}</td>
                    <td> {{result.driver}}</td>
                    <td> {{result.cell}}</td>
                    <td> {{result.vehicle_id}}</td>
                    <td> {{result.drivetrace}}</td>
                    <td> {{result.iwr}}</td>
                    <td> {{result.rmsse}}</td>
                    <td> {{result.total_co}}</td>
                    <td> {{result.total_co2}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
        
{% endblock %}